{% extends 'layout.html'%}

{% block content %}
<div class="container">
    <div class="entry-list single">
        <article>
            <h1>{{ entry.title }}</h1>
            <time>{{ entry.entry_date }} created {{ entry.submit_date.strftime('%b %m/%Y') }}</time>
            {% if not user.id == entry.user.id %}
              <p>Created by {{ entry.user.email }}.</p>
            {% endif %}
            <div class="entry">
                <h3>Time Spent: </h3>
                <p>{{ entry.time_spent}}</p>
            </div>
            <div class="entry">
                <h3>What I Learned:</h3>
                <p>{{ entry.learned }}
            </div>
            <div class="entry">
                <h3>Resources to Remember:</h3>
                <ul>
                    <p>{{ entry.resources }}
                </ul>
            </div>
        </article>
    </div>
</div>
<div class="edit">
    {% if user.id == entry.user.id %}
      <a class="button" href="/"><span>Return to entries</span></a>
      <p><a href="/entry/edit/{{ entry.id }}">Edit Entry</a></p>
      <p><a href="/entries/delete/{{ entry.id }}">Delete Entry</a></p>
    {% else %}
      <a class="button" href="/"><span>Return to entries</span></a>
    {% endif %}
</div>
{% endblock %}
