{% extends 'layout.html'%}

{% from 'macros.html' import render_field %}

{% block content %}
<div class="container">
    <div class="edit-entry">
        <h2>Edit Entry</h2>
          <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ render_field(form.title) }}
            {{ render_field(form.entry_date) }}
            {{ render_field(form.time_spent) }}
            {{ render_field(form.learned) }}
            {{ render_field(form.resources) }}
            <div class="u-full-width">
            <input type="submit" value="Publish Entry" class="button">
            <a href={{"/details.html/{}".format(entry.id)}} class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
