{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="entry-list">
      {% if entries.count() %}
        <article>
          <h2> <u>Your entries!</u></h2>
          <p><a href="/">Click here for all entries</a></p>
        </article>
        {% for entry in entries %}
        <article>
            <h2><a href="{{ url_for('detail', entry_id=entry.id)}}">{{ entry.title }}</a></h2>
            <time>{{ entry.entry_date }}</time>
        </article>
        {% endfor %}
      {% endif %}
    </div>
</div>
{% endblock %}
